@charset "utf-8";
/* border box sizing for more predictable layouts */
html {
  box-sizing: border-box;
}
/*WILDCARD affects EVERYTHING on page*/
*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.25) 100%), 
        url(../img/paper1.jpg);	
	background-size: 100%;
	background-position: center;
	/* background-repeat: no-repeat; */

	font-family:Verdana, Geneva, Tahoma, sans-serif; 
  	font-size: 150%;
  	text-align: center;
  	font-weight: normal;
  	color:rgb(34, 32, 32);
  	text-shadow: 2px 2px 4px #000000;
}

div#left{
	text-align: left;
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
	float: left;
	width: 40%;
}

/* poster image */
div#left figure{
	text-align: left;
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
	float: left;
	height: 842px; 
	width: 540px;
}

section#aboveLogo p{
	font-size: 120%;
}

section#production p{
	font-size: 120%;
}

section#logo p{
	font-size: 120%;
}

section#castCrew p{
	font-size: 120%;
}



span#reg {
  font-size: 0.5em;
  vertical-align: super;
}

/* -- fonts ------------------------------------------------------------------ */
/* Goblin One */
.goblin-one-goblin {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-style: normal;
}
/* Inter */
.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* -- end fonts --------------------------------------------------------------- */