@charset "utf-8";
/* border box sizing for more predictable layouts */
html {
  box-sizing: border-box;
}
/*WILDCARD affects EVERYTHING on page*/
*, *::before, *::after {
  box-sizing: inherit;
}

body{
  background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.15) 100%), 
        url(../img/paper3.jpg);	
	background-size: 100%;
	background-position: center;
	/* background-repeat: no-repeat; */

	font-family:Verdana, Geneva, Tahoma, sans-serif; 
  	font-size: 150%;
  	text-align: center;
  	font-weight: normal;
  	color:rgb(34, 32, 32);
	line-height: 0.95;
}


/*two collumn layout*/
 .column{
    float: left;
    width: 33.33%;
    padding: 50px;
    box-sizing: border-box;
	margin-left: 5%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 

/*layout will move the specialty collumn underneath build your own collumn if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
}
/*end two collumn layout*/

/* poster image */
.poster{
	height: 1000px;
	width: 642px;
	text-align: left;
	float: left;
}
#aboveLogo p{
	
}

.centerLow{

}
.hollyGo{
	font-size: 115%;
}
.nudgeDelight{
	
}




section#production p{
	
}
section#logo p{
	transition: width 2s;
	width: 400px;
	letter-spacing: 1px;
	word-spacing: 1.5px;
}
section#logo p:hover{
	width: 700px;
}
section#castCrew p{
	
}
span#reg {
  font-size: 0.5em;
  vertical-align: super;
}
/* - fonts -*/
/* Goblin One */
.goblin-one-goblin {
  font-family: "Goblin One", serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  width: 88%;
  text-align: center;
  color: rgb(131, 39, 66);
}
/* Inter */
p.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  width: 88%;
  text-align: center;
  color: rgb(32, 59, 82);
}

h2.inter-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  width: 88%;
  text-align: center;
  color: rgb(18, 48, 34);
}

.oswald-oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  width: 88%;
  text-align: center;
}
.attribution {
	font-size: 0.8em;
}

.footer{
position: absolute;
}