/*navigation bar*/
html{
    background-image: url("images/red-wood.jpg");
    /* Photo by Chevanon Photography: https://www.pexels.com/photo/red-wooden-surface-1108116/ */
}
nav {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family:Impact;
    font-size: 90%;
}
a {
    color: black;
    
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
}
.crumb a::after{
    display: inline-block;
    color: black;
    content: "";
    padding: 0 3px
}

/*two collumn layout*/
.column{
        float: left;
        width: 33.33%;
        padding: 10px;
        box-sizing: border-box;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*layout will move the specialty collumn underneath build your own collumn if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
}

/*other styles*/
header{
    font-family:Impact, sans-serif;
    font-size: 200%;
    text-align: center;
    font-weight: normal;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 150%;
    text-align: center;
}
main {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 100%;
}

footer {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
	text-align: right;
}
