body {
    
    background-image: url(../images/red-wood.jpg);
    /* Photo by Chevanon Photography: https://www.pexels.com/photo/red-wooden-surface-1108116/ */
    background-size: cover;
    background-attachment: fixed;
}
/*navigation bar*/
nav {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family:Impact;
    font-size: 90%;
}
a {
    color: whitesmoke;
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
}
.crumb a::after{
    display: inline-block;
    color: black;
    content: "";
    padding: 0 3px
}

/*two collumn layout*/
 .column{
        float: left;
        width: 33.33%;
        padding: 50px;
        box-sizing: border-box;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
} 


/*layout will move the specialty collumn underneath build your own collumn if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
}

/*other styles*/
header{
    font-family:Impact, sans-serif;
    font-size: 200%;
    text-align: center;
    font-weight: normal;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 150%;
    text-align: center;
}
main {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 100%;
     color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

.menu{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1em;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 150%;
}
.menu ul{
    display: inline-block;
    text-align: left;
    
}

.menu p{
    text-indent: 30px;
    font-size: 50%;
    font-weight: bold;
}

fieldset {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.3);
}
fieldset p{
    font-size: 55%;
}

/* copyright  */
footer {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
	text-align: right;
    text-shadow: 2px 2px 4px #000000;
    color: whitesmoke
    
}
