/*navigation bar*/
nav {
    border-bottom: 1px solid black;
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.crumb {
    display: inline-block;
}
.crumb a::after{
    display: inline-block;
    color: black;
    content: "  ";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px
}

/*two collumn layout*/
.column{
        float: left;
        width: 33.33%;
        padding: 10px;
        box-sizing: border-box;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*layout will move the specialty collumn underneath build your own collumn if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
}

/*other styles*/
h1{
    font-family:Impact, sans-serif;
    font-size: 200%;
    text-align: center;
    font-weight: normal;
}
main {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 100%;
}

footer {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
	text-align: right;
}
