@charset "utf-8";

body{
  background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.85) 100%), 
        url(IMG_1340.jpg);	
	background-size: 135%;
	background-position: center;
	background-repeat: no-repeat;

	font-family:Verdana, Geneva, Tahoma, sans-serif; 
  	font-size: 150%;
  	text-align: center;
  	font-weight: normal;
  	color:rebeccapurple;
  	text-shadow: 2px 2px 4px #000000;
}