@charset "utf-8";
/* border box sizing for more predictable layouts */
html {
  box-sizing: border-box;
}
/* WILDCARD*/
*, *::before, *::after {
  box-sizing: inherit;
}

/* column layout --------------------------------------------------------------------------------------------*/
.column{
  position: relative;
  float: left;
  width: 50%;
  position: relative;
  box-sizing: border-box;
  /* border: 2px dotted rgb(96 139 168); */
}
.thinColumn{
  position: relative;
  float: center;
  width: 45%;
  left: 23%;
}
.corpoColumnInfo{
  position: relative;
  float: right;
  width: 50%;
  padding: 20px;
  margin-right: 150px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(177, 83, 30); */
  text-align: left;
}
.corpoColumnNames{
  position: relative;
  float: right;
  width: 50%;
  padding: 10px;
  margin-right: 150px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(177, 83, 30); */
  text-align: left;
}
.corpoColumnLabel{
  position: relative;
  float: right;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(218, 26, 243); */
  text-align: right;
}
.corpoColumn{
  position: relative;
  float: right;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(65, 177, 84); */
  text-align: right;
}
.row::after{
  position: relative;
  content: "";
  clear: both;
  display: table;
}

.inline-block {
    display: inline-block;
    text-align: start;
    margin: 10px;
} 

/* FONTS ----------------------------------------------------------------------------------------------------*/
.arya-regular {
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.arya-bold {
  font-family: "Arya", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.gidugu-regular {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sulphur-point-light {
  font-family: "Sulphur Point Light", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.sulphur-point-regular {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sulphur-point-bold {
  font-family: "Sulphur Point Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* BODY BACKGROUND --------------------------------------------------------------------------------------------*/
body {
    background-color: #1a1f1d;
    background-image: 
        url(../images/herohome-xtraLong.png);
    background-attachment: fixed;
    background-position: center 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

/*navigation bar ---------------------------------------------------------------------------------------------*/
nav {
    font-family: Cal Sans;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;
    Line-height: 10%;
}

/* adjust crumb font size but not SONY logo */
.bigNav {
    font-size: 24px;
    letter-spacing: 1px;
}

/* stripes nav backdrop */
.multi-colored-stripes{
    height: 100px;
    background-image: linear-gradient(
            to top, 
            #22bcb4 20%, 
            #22bcb4 25%, 
            #9dd047 20%,
            #9dd047 40%,
            #f2af1a 40%,
            #f2af1a 60%, 
            #ed2d44 60%,
            #ed2d44 60%
        );
    background-size: 90% 110px;
    border-radius: 22px;
}
/* color must be set here + other places*/
nav a {
    display: inline-block;
    color: whitesmoke;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    position: relative;
}
.crumb {
    display: inline-block;
}

/* cookie crumb > before */
.crumb a::before{
    display: inline-block;
    color: whitesmoke;
    content: ">";
    font-size: 24px;
    padding: 0 3px;
}
/* no > before SONY logo */
nav .crumb:first-child a::before{
    content: "";
}

/* ensure no underline on links */
.crumb a:link {
    text-decoration: none;
}
.crumb a:visited {
    text-decoration: none;
}
.crumb a:active {
    text-decoration: none;
}

/* crumbs turns yellow and blink on hover */
.crumb a:hover, .crumb a:hover::before {
    color: #f2af1a;
    text-decoration: none;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* SONY logo -------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: Clarendon-Medium;
  src: url(Clarendon-Medium\ Regular.otf);
}
@font-face {
  font-family: Clarendon-Light;
  src: url(Clarendon-Light\ Regular.otf);
}
nav h1, main h1 {
  font-size: 2em;
  display: inline-block;
  font-family: Clarendon-Medium;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 0;
  letter-spacing: 2px;
}
nav h1:hover {
    color: #f2af1a;
    text-decoration: none;
}
/* stretch type to match real logo proportions */
span.stretch, main h1 span.stretch {
    display:inline-block;
    -webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(1.3,1); /* W3C */
    margin-right: 20px;
    margin-left: 20px
}

/* company slogan under logo  */
.oneAndOnly {
    margin: 0 auto;
    font-family: Clarendon-Light;
    font-weight: 10;
}

/* horizontal rule*/
hr {
    display: block;
    height: 1px;
    width: 460px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
}

/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Sulphur Point;
    font-size: 120%;
    text-align: center;
    color: whitesmoke;
    word-spacing: -4px;
    margin: 10px;
}
main h2 {
    font-family: Cal Sans;
    font-size: 140%;
    word-spacing: 2px;
    margin: 10px;
}
main a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
main a:hover {
    color: #f2af1a;
    text-decoration: none;
    animation: blinker 2s linear infinite;
}

/* hero section */
.home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

/* white walkman logo */
.resizeLogo {
  width: 800px;
  height: auto;
  vertical-align: right;
}

.resizeWalkman {
  width: 400px;
  height: auto;
}


#walkmanPos{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

div h2 {
    margin: 0px;
    margin-top: 7px;
    font-size: 120%;
}

/* CRT effect from https://aleclownes.com/2017/02/01/crt-display.html----------------------------------------*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

.container{
  margin 0 auto;
  padding: 2.5%;
}

/* footer --------------------------------------------------------------------------------------------------------*/
footer {
    font-family: Clarendon-Light;
    /* font-size: 90%; */
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    color: whitesmoke;
}
/*layout will adjust if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
    nav .bigNav{
        font-size: 16px;
    }
    nav .crumb a::before{
        font-size: 16px;
    }
    nav h1{
        font-size:1.5em;
    }
    .resizeLogo {
        width: 500px;
        height: auto;
        vertical-align: right;
        object-position: 0px 0px 50px 50px; 
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
    .home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    /* border: 2px dotted rgb(65, 177, 84); */
    text-align: center;
  }
}