@charset "utf-8";


/* column layout --------------------------------------------------------------------------------------------*/
.column{
  position: relative;
  float: left;
  width: 50%;
  position: relative;
  box-sizing: border-box;
  /* border: 2px dotted rgb(96 139 168); */
}
.thinColumn{
  position: relative;
  float: center;
  width: 45%;
  left: 23%;
}
.row::after{
  position: relative;
  content: "";
  clear: both;
  display: table;
}
.inline-block {
    display: inline-block;
    text-align: start;
    margin: 10px;
} 

/* horizontal rule for slogan */
hr {
    display: block;
    height: 1px;
    width: 460px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
}

.visible{
  visibility: hidden;
}

.home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* white walkman logo */
.resizeLogo {
  position: relative;
  top: 0px;
  width: 880px;
  height: auto;
  vertical-align: right;
}
/* walkman img png */
.resizeWalkman {
  width: 600px;
  height: auto;
  /* border: 2px dotted rgb(65, 177, 84); */
}
#walkmanPos {
  position: relative;
  bottom: 200px;
  right: 00px;
  height: auto;
  z-index: -1;
}
/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Sulphur Point;
    font-size: 120%;
    text-align: center;
    color: whitesmoke;
    word-spacing: -4px;
    margin: 10px;
}
main h2, h3 {
    font-family: Cal Sans;
    font-size: 160%;
    word-spacing: 2px;
    margin: 10px;
}
main li {
    font-size: 24px;
    text-align: left;
}

/* medium screen size layout */
@media screen and (max-width:1800px){
    .resizeLogo {
    width: 800px;
    height: auto;
    vertical-align: right;
    object-position: 0px 0px 50px 50px; 
  }
  .home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    /* border: 2px dotted rgb(65, 177, 84); */
    text-align: center;
  }
  .resizeWalkman {
    width: 600px;
    height: auto;
    /* border: 2px dotted rgb(65, 177, 84); */
  }
  #walkmanPos {
    position: relative;
    bottom: 200px;
    right: 00px;
    height: auto;
    z-index: -1;
  }
  nav .bigNav{
        font-size: 24px;
    }
    nav .crumb a::before{
        font-size: 24px;
    }
    .column{
        width: 100%; 
    }
    main{
        display: flex;
        flex-direction: column;
    }
    
}
/* small screen size layout */
@media screen and (max-width:850px){
    .resizeLogo {
        width: 500px;
        height: auto;
        vertical-align: right;
        object-position: 0px 0px 50px 50px; 
    }
    .resizeWalkman {
    width: 450px;
    height: auto;
    /* border: 2px dotted rgb(65, 177, 84); */
  }
  #walkmanPos {
    position: relative;
    bottom: 200px;
    right: 00px;
    height: auto;
    z-index: -1;
  }
  .home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    /* border: 2px dotted rgb(65, 177, 84); */
    text-align: center;
  }
    nav .bigNav{
        font-size: 15px;
    }
    nav .crumb a::before{
        font-size: 15px;
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
} 
/* end media screen */