@charset "utf-8";

/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Sulphur Point;
    font-size: 120%;
    text-align: center;
    color: whitesmoke;
    word-spacing: -4px;
    margin: 10px;
}
main h2 {
    font-family: Cal Sans;
    font-size: 140%;
    word-spacing: 2px;
    margin: 10px;
}
main a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
main a:hover {
    color: #f2af1a;
    text-decoration: none;
    animation: blinker 2s linear infinite;
}

/* hero section */
.home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

/* white walkman logo */
.resizeLogo {
  width: 800px;
  height: auto;
  vertical-align: right;
}

.resizeWalkman {
  width: 400px;
  height: auto;
}


#walkmanPos{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

div h2 {
    margin: 0px;
    margin-top: 7px;
    font-size: 120%;
}

.container{
  margin 0 auto;
  padding: 2.5%;
}

/*layout will adjust if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
    nav .bigNav{
        font-size: 16px;
    }
    nav .crumb a::before{
        font-size: 16px;
    }
    nav h1{
        font-size:1.5em;
    }
    .resizeLogo {
        width: 500px;
        height: auto;
        vertical-align: right;
        object-position: 0px 0px 50px 50px; 
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
    .home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    /* border: 2px dotted rgb(65, 177, 84); */
    text-align: center;
  }
} 
/* end media screen */