@charset "utf-8";

/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Sulphur Point;
    font-size: 120%;
    text-align: center;
    color: whitesmoke;
    word-spacing: -4px;
    margin: 10px;
}
main h2 {
    font-family: Cal Sans;
    font-size: 140%;
    word-spacing: 2px;
    margin: 10px;
}
main a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
main a:hover {
    color: #f2af1a;
    text-decoration: none;
    animation: blinker 2s linear infinite;
}
main, h2, h3, #shopBtn :not(span, h1){
  position: relative;
  top: 100px;
}

#shopBtn{
  position: relative;
  top: 100px;
}

/* hero section */
.home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

/* white walkman logo */
.resizeLogo {
  position: relative;
  top: 100px;
  width: 1200px;
  height: auto;
  vertical-align: right;
}

.resizeWalkman {
  width: 400px;
  height: auto;
}

#walkmanPos{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

div h2 {
    margin: 0px;
    margin-top: 7px;
    font-size: 120%;
}

.container{
  margin 0 auto;
  padding: 2.5%;
}

/* medium screen size layout */
@media screen and (max-width:1400px){
    .resizeLogo {
        width: 800px;
        height: auto;
        vertical-align: right;
        object-position: 0px 0px 50px 50px; 
    }

    .home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    /* border: 2px dotted rgb(65, 177, 84); */
    text-align: center;
  }
} 
/* small screen size layout */
@media screen and (max-width:850px){
    .resizeLogo {
        width: 500px;
        height: auto;
        vertical-align: right;
        object-position: 0px 0px 50px 50px; 
    }

    .home-hero {
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    /* border: 2px dotted rgb(65, 177, 84); */
    text-align: center;
  }
} 
@media screen and (max-width:850px){

}
/* end media screen */