@charset "utf-8";

/* column layout --------------------------------------------------------------------------------------------*/
.column{
  position: relative;
  float: left;
  width: 50%;
  position: relative;
  box-sizing: border-box;
  /* border: 2px dotted rgb(96 139 168); */
}
.thinColumn{
  position: relative;
  float: center;
  width: 45%;
  left: 23%;
}
.corpoColumnInfo{
  position: relative;
  float: right;
  width: 50%;
  padding: 20px;
  margin-right: 150px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(177, 83, 30); */
  text-align: left;
}
.corpoColumnNames{
  position: relative;
  float: right;
  width: 50%;
  padding: 10px;
  margin-right: 150px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(177, 83, 30); */
  text-align: left;
}
.corpoColumnLabel{
  position: relative;
  float: right;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(218, 26, 243); */
  text-align: right;
}
.corpoColumn{
  position: relative;
  float: right;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  /* border: 2px dotted rgb(65, 177, 84); */
  text-align: right;
}
.row::after{
  position: relative;
  content: "";
  clear: both;
  display: table;
}

.inline-block {
    display: inline-block;
    text-align: start;
    margin: 10px;
} 

/* company slogan under logo  */
.oneAndOnly {
    margin: 0 auto;
    font-family: Clarendon-Light;
    font-weight: 10;
}

/* horizontal rule for slogan */
hr {
    display: block;
    height: 1px;
    width: 460px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
}

/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Sulphur Point;
    font-size: 120%;
    text-align: center;
    color: whitesmoke;
    word-spacing: -4px;
    margin: 10px;
}
main h2 {
    font-family: Cal Sans;
    font-size: 140%;
    word-spacing: 2px;
    margin: 10px;
}
main a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
}
main a:hover {
    color: #f2af1a;
    text-decoration: none;
    animation: blinker 2s linear infinite;
}

div h2 {
    margin: 0px;
    margin-top: 7px;
    font-size: 120%;
}

.container{
  margin 0 auto;
  padding: 2.5%;
}

/*layout will adjust if screen is small*/
@media screen and (max-width:900px){
    .column{
        width: 100%; 
    }
    nav .bigNav{
        font-size: 16px;
    }
    nav .crumb a::before{
        font-size: 16px;
    }
    nav h1{
        font-size:1.5em;
    }
    
    main{
        display: flex;
        flex-direction: column;
    }
}
/* end media screen */