@charset "utf-8";
/* border box sizing for more predictable layouts */
html {
  box-sizing: border-box;
}
/* WILDCARD*/
*, *::before, *::after {
  box-sizing: inherit;
}

/* FONTS ----------------------------------------------------------------------------------------------------*/
.arya-regular {
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.arya-bold {
  font-family: "Arya", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.gidugu-regular {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #1a1f1d;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.15) 100%), 
        url(../img/paper3.jpg);	
        
    background-attachment: fixed;
	background-position: center;
    background-size: 100%;
	background-repeat: no-repeat;
}

/*navigation bar ---------------------------------------------------------------------------------------------*/
nav {
    font-family: Cal Sans;
    text-decoration: none;
    text-transform: uppercase;
}
.multi-colored-stripes{
    height: 100px;
    background-image: linear-gradient(
            to top, 
            #22bcb4 20%, 
            #22bcb4 25%, 
            #9dd047 20%,
            #9dd047 40%,
            #f2af1a 40%,
            #f2af1a 60%, 
            #ed2d44 60%,
            #ed2d44 60%
        );
    background-size: 90% 110px;
}

nav a {
    display: inline-block;
    color: whitesmoke;
}
nav a .crumb:not(:last-child) a::after {
    content: " | ";
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
}
.crumb a::after{
    display: inline-block;
    color: black;
    content: "";
    padding: 0 3px;
}
.crumb a:link {
    text-decoration: none;
}
.crumb a:visited {
    text-decoration: none;
}
.crumb a:hover {
    color: #f2af1a;
    text-decoration: none;
}
.crumb a:active {
    text-decoration: none;
}   

/* SONY logo -------------------------------------------------------------------------------------------------*/
@font-face { /* adding SONY logo font */
  font-family: Clarendon-Medium;
  src: url(Clarendon-Medium\ Regular.otf);
}
nav h1, main h1 {
    display: inline-block;
    font-family: Clarendon-Medium;
    font-weight: 600;
    font-size: 150%;
    color: whitesmoke;
    margin-bottom: 0;
    letter-spacing: 2px;
}
nav h1:hover {
    color: #f2af1a;
    text-decoration: none;
}
span.stretch, main h1 span.stretch {
    display:inline-block;
    -webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(1.3,1); /* W3C */
    margin-right: 20px;
    margin-left: 20px
}

/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Arya;
    font-size: 100%;
    text-align: center;
    color: whitesmoke;
    margin: 20px;
}
main h2 {
    font-family: Cal Sans;
    font-size: 120%;
    text-align: center;
    margin-bottom: 10px;
}
.inline-block {
    display: inline-block;
    text-align: left;
    margin: 10px;
}

/* scanline effect from https://aleclownes.com/2017/02/01/crt-display.html----------------------------------------*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

body {
    position: relative;
    background: #1b1b1b;
}

/* footer --------------------------------------------------------------------------------------------------------*/
footer {
    font-family: Arya;
    font-size: 90%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: whitesmoke;
}
