@charset "utf-8";
/* border box sizing for more predictable layouts */
html {
  box-sizing: border-box;
}
/* WILDCARD*/
*, *::before, *::after {
  box-sizing: inherit;
}

/* FONTS ----------------------------------------------------------------------------------------------------*/
.arya-regular {
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.arya-bold {
  font-family: "Arya", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.gidugu-regular {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #1a1f1d;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.15) 100%), 
        url(../img/paper3.jpg);	
        
    background-attachment: fixed;
	background-position: center;
    background-size: 100%;
	background-repeat: no-repeat;
}

/*navigation bar ---------------------------------------------------------------------------------------------*/
nav {
    font-family: Cal Sans;
    text-decoration: none;
    text-transform: uppercase;
}
.multi-colored-stripes{
    height: 100px;
    background-image: linear-gradient(
            to top, 
            #22bcb4 20%, 
            #22bcb4 25%, 
            #9dd047 20%,
            #9dd047 40%,
            #f2af1a 40%,
            #f2af1a 60%, 
            #ed2d44 60%,
            #ed2d44 60%
        );
    background-size: 90% 110px;
}

nav a {
    display: inline-block;
    color: whitesmoke;
}
nav a .crumb:not(:last-child) a::after {
    content: " | ";
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
}
.crumb a::after{
    display: inline-block;
    color: black;
    content: "";
    padding: 0 3px;
}
.crumb a:link {
    text-decoration: none;
}
.crumb a:visited {
    text-decoration: none;
}
.crumb a:hover {
    color: #f2af1a;
    text-decoration: none;
}
.crumb a:active {
    text-decoration: none;
}   

/* SONY logo -------------------------------------------------------------------------------------------------*/
@font-face { /* adding SONY logo font */
  font-family: Clarendon-Medium;
  src: url(Clarendon-Medium\ Regular.otf);
}
nav h1 {
    display: inline-block;
    font-family: Clarendon-Medium;
    font-weight: 600;
    font-size: 150%;
    color: whitesmoke;
    margin-bottom: 0;
    letter-spacing: 2px;
}
nav h1:hover {
    color: #f2af1a;
    text-decoration: none;
}
span.stretch {
    display:inline-block;
    -webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(1.3,1); /* W3C */
    margin-right: 20px;
    margin-left: 20px
}

/* main content area ---------------------------------------------------------------------------------------------*/
main {
    font-family: Arya;
    font-size: 100%;
    text-align: center;
    color: whitesmoke;
    margin: 20px;
}
main h2 {
    font-family: Cal Sans;
    font-size: 120%;
    text-align: center;
    margin-bottom: 10px;
}
.inline-block {
    display: inline-block;
    text-align: left;
    margin: 10px;
}

/* footer --------------------------------------------------------------------------------------------------------*/
footer {
    font-family: Arya;
    font-size: 90%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: black;
}
