@charset "utf-8";
/* border box sizing for more predictable layouts */
html {
  box-sizing: border-box;
}
/* FONTS ------------------------------------------------------------------------------------------------------*/
.arya-regular {
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arya-bold {
  font-family: "Arya", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* END FONTS ---------------------------------------------------------------------------------------------------*/


/* WILDCARD = affects EVERYTHING on page*/
*, *::before, *::after {
  box-sizing: inherit;
}

body {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.15) 100%), 
        url(../img/paper3.jpg);	
    background-attachment: fixed;
	background-position: center;
    background-size: 100%;
	background-repeat: no-repeat;
}

/* SONY logo ---------------------------------------------------------------------------------------------------*/
@font-face { /* adding SONY logo font */
  font-family: Clarendon-Medium;
  src: url(Clarendon-Medium\ Regular.otf);
}
nav h3 {
    display: inline-block;
    font-family: Clarendon-Medium;
    font-weight: 600;
    color: black;
    margin-bottom: 0;
    letter-spacing: 2px;
}
span.stretch {
    display:inline-block;
    -webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(1.3,1); /* W3C */
    margin-right: 10px;
    margin-left: 10px
}
/* end SONY logo -----------------------------------------------------------------------------------------------*/

/*navigation bar -----------------------------------------------------------------------------------------------*/
nav {
    font-family:Arya;
    font-size: 90%;
    text-decoration-line: ;
}

nav a {
    display: inline-block;
    color: black;
}
nav a .crumb:not(:last-child) a::after {
    content: " | ";
}
.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}
.crumb {
    display: inline-block;
}
.crumb a::after{
    display: inline-block;
    color: black;
    content: "";
    padding: 0 3px
}
.crumb a:link {
    text-decoration: none;
}
.crumb a:visited {
    text-decoration: none;
}
.crumb a:hover {
    color: gold;
    text-decoration: none;
}
.crumb a:active {
    text-decoration: none;
}    

/* end navigation bar --------------------------------------------------------------------------------------------*/

/* footer --------------------------------------------------------------------------------------------------------*/
footer {
    font-family: Arya;
    font-size: 90%;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: black;
}
/* end footer -----------------------------------------------------------------------------------------------------*/